<div class="container">
  <h1>About us</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis at, harum
    quos facere ipsum temporibus natus quidem, nostrum minima ad excepturi
    suscipit nulla illo eaque tempore necessitatibus error adipisci dolorem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, dignissimos!
    Accusamus quidem quae dolores. Sed, commodi reprehenderit architecto
    nesciunt placeat excepturi odio necessitatibus? Nisi consectetur minima
    blanditiis repellat. Fugiat, dolore!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero praesentium
    fugit aliquam eum repellat, pariatur delectus, voluptatum nulla perferendis
    accusantium, beatae architecto laudantium enim ex illo. Tempora itaque esse
    odio?
  </p>

  <h1>La nostra cucina</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
    cumque eveniet dolorem quod, dolorum nesciunt voluptas suscipit labore
    eligendi magnam doloribus consequatur aliquid incidunt totam minima culpa
    cum itaque voluptatibus!
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
    dolorem et. Nam doloremque, maxime labore, nemo autem magnam voluptatum
    sapiente ex provident in porro quod tempora tenetur mollitia est.
    Dignissimos!
  </p>
</div>
