<div class="banner d-flex flex-column justify-content-center align-items-end">
  <h1>I piatti che ami, <br> a domicilio.</h1>
  <a class="btn btn-success btn-lg" routerLink="menu">ORDINA ORA <i class="bi bi-arrow-right"></i></a>
</div>

<!-- step  -->
<div class="container mt-5 mb-5">
  <h1 class="text-center">Per <span class="highlight">ordinare:</span></h1>
  <div class="row mt-5">
      <!-- one  -->
      <div class="col-lg-4 mt-2 ">
          <div class="stepBox">
              <h1>1</h1>
              <p>scegli il piatto che preferisci</p>
          </div>
      </div>
<!-- two -->
      <div class="col-lg-4 mt-2">
          <div class="stepBox">
              <h1>2</h1>
              <p>inserisci i tuoi dati</p>
          </div>
      </div>
      <!-- three  -->
      <div class="col-lg-4 mt-2">
          <div class="stepBox">
              <h1>3</h1>
              <p>attendi il tuo ordine</p>
          </div>
      </div>
  </div>
</div>

<div class="d-flex justify-content-center m-5  p-2 bg-success" >
  <h1>Guarda ora il nostro </h1> <a class="btn btn-light text-success btn-lg ms-3" routerLink="menu">Menu <i class="bi bi-arrow-right"></i></a>
</div>


<h1 class="text-center p-4">I nostri best sellers</h1>

<div class="container">
<div class="row">
  <div class="col-lg-3" *ngFor="let food of foods; index as i">
    <div class="foodbox" *ngIf="i <= 3">
      <img src="{{food.imgUrl}}" alt="" >
      <h3>{{food.name}}</h3>
      <p>{{food.price |currency: 'EUR'}}</p>
    </div>
  </div>
</div>
</div>


