.banner{
background-image: url(../../../assets/bg.jpg);
height: 700px;
background-position: center ;
background-size: cover;
}

.banner h1{
  margin-right: 200px;
  font-size: 90px;
  line-height: 1.6;
}

.banner a{
  margin-right: 220px;
}

.stepBox{
  background-color: black;
  text-align: center;
  padding: 10px;
}

.stepBox h1{
  color: green;
}

.stepBox p{
  color: white;
}

.foodbox img{
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 50%;
}

