.container{
  background-image: url(https://images.unsplash.com/photo-1555861496-0666c8981751?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
}

button{
  color: white;
  border: 1px solid white;
}

button:hover{
  border: 1px solid rgb(0, 110, 255);
  background-color: rgb(0, 110, 255);
  color: white;
}
